*{
    font-family: verdana;
    margin: 0;
}

body{
    background: #eee;
}

.wrapper{ /* Wrapper keeps content in the center, max width is 960px here*/
    width: 100%; /* fills 100% of max width */
    max-width: 1200px; /* container max width */
    margin: 10px auto; /* container margins - top and bottom, left and right */
}

.flex-container{ /* Apply flex to container, allows flexbox inside of block level (entire row) */
    display: flex; /* flexbox */
    background: white; /* container background color, to see entire container */
    flex-wrap: wrap; /* allows flexbox to go to next line */
}

.box { /* Apply flex to all direct children */
    height: 100px;
    flex: 1 0 200px /* flex: flex-grow, flex-shrink, flex-basis (wrap at) */
}

.one {
    background-color: red;
}

.two {
    background-color: blue;
}

.three {
    background-color: green;
}